/* Authentication Form Styling */
.auth-form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 40px auto;
    width: 400px;
}

#authContainer {
    display: flex;
  flex-direction: column;
  min-height: 68vh;
}

.auth-form h2 {
    text-align: center;
    color: #EF5A42;
}

.auth-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.auth-form input {
    width: 100%;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.auth-form input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.auth-form button {
    background-color: #EF5A42;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-size: 16px;
}

.auth-form button:hover {
    background-color: #F6A606;
}

.auth-form a {
    color: #F8B763;
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-form a:hover {
    color: #EF5A42;
}

/* Utility classes for error messages */
.error-message {
    color: #EF5A42;
    font-size: 14px;
}

/* Responsive adjustments for auth form */
@media (max-width: 768px) {
    .auth-form-container {
        width: 90%;
        padding: 15px;
    }

    .auth-form h2 {
        font-size: 18px;
    }

    .auth-form button {
        padding: 8px 16px;
    }
}
